<h2 class="squatch-stats-title">
  Referral Stats
</h2>

<div class="squatch-stats-summary">
  <div class="squatch-stats-summary-item">
    <div class="squatch-stats-summary-title">
      {{#if rewardBalances.[0].totalAssignedCredit}}
        ${{math rewardBalances.[0].totalAssignedCredit '/ 100'}}
      {{else}}
        $0
      {{/if}}
    </div>

    <span class="squatch-stats-summary-description">Total Credit Earned</span>
  </div>

  <div class="squatch-stats-summary-item">
    <div class="squatch-stats-summary-title green">
      {{#if rewardBalances.[0].totalAssignedCredit}}
        ${{math '(' rewardBalances.[0].totalAssignedCredit '-' rewardBalances.[0].totalRedeemedCredit ') / 100'}}
      {{else}}
        $0
      {{/if}}
    </div>

    <span class="squatch-stats-summary-description">Credit Available</span>
  </div>

  <div class="squatch-stats-summary-item">
    <div class="squatch-stats-summary-title">{{referralsLength}}</div>

    <span class="squatch-stats-summary-description">Friends Referred</span>
  </div>
</div>
