<iframe width="100px" height="100px" style="border: 0; display: none;">
  <!doctype html>
  <!--[if lt IE 9]><html class="lt-ie9 ie"><![endif]-->
  <!--[if IE 9]><html class="ie"><![endif]-->
  <!--[if gt IE 9]><html lang="en"><![endif]-->
    <head>
      <base target="_self">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Referral SaaSquatch Dollar Credit Theme</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
      <link rel="stylesheet" href="{{assets 'css/cta-widget.css'}}"

      {{> programs/CREDIT/theme_messages}}
      {{squatchHead}}

      <!--[if lt IE 9]>
        <script src="{{assets 'libs/bind-polyfill.js'}}"></script>
        <script src="{{assets 'libs/html5shiv-printshiv.min.js'}}"></script>
      <![endif]-->

      <!--[if lte IE 9]>
        <script src="{{assets 'libs/matchMedia.js'}}"></script>
        <script src="{{assets 'libs/matchMedia.addListener.js'}}"></script>
      <![endif]-->

     <style>
        .squatch-container .squatch-title {
          color: {{variables 'widget.REFERRER_WIDGET.content.widgetCustomization.headerColor'}};
        }
        body .squatch-container {
          font-family: {{variables 'widget.REFERRER_WIDGET.content.widgetCustomization.widgetFont'}};
        }
      </style>
    </head>

    <body>
      <main class="cta-widget">
        CTA Text
      </main>

      <script src="{{assets 'libs/ready.min.js'}}"></script>
      <script src="{{assets 'libs/clipboard.min.js'}}"></script>
      <script src="{{assets 'libs/moment.min.js'}}"></script>
      <script src="{{assets 'javascript/widget.js'}}"></script>
    </body>
  </html>
</iframe>
