<div class="squatch-text {{properties.align}}"
     style="color: {{properties.color}};
            padding-top: {{properties.paddingTop}}px;
            padding-bottom: {{properties.paddingBottom}}px;">

  {{properties.text}}

</div>
