<div class="squatch-text {{properties.align}}"
     style="color: {{properties.headerColor}};
            padding-top: {{properties.paddingTop}}px;
            padding-bottom: {{properties.paddingBottom}}px;">

  {{properties.heading}}

</div>
